
<section class="app-message-card">
    
  <div class="msg-sidebar">
    <h1>{{ panelStatus }}</h1>
  </div>
  
  <div class="msg-card">        
    <!-- logo -->
    <div class="logo active">
      <img [src]="cfg.logo" />
    </div>  
        
    <!--HEADER/TITLE-->
    <div class="msg-title">
      <div>
        {{ cfg.panelTitle }}
      </div>
      <i class="material-icons large">
        {{ cfg.matIcon }}
      </i>
    </div>

    <!-- loader -->
    <div class="loader"
      [class.active]="showLoader">
      <mat-spinner></mat-spinner>
    </div>  
    <!-- INPUT BODY -->
    <div class="msg-body"
      [class.active]="!showLoader">      
      
      <div *ngIf="panelMsg"
        class="msg-msg"
        [class.error]="error"
        [innerHTML]="panelMsg">
      </div>    
      
    </div>
    
    <!--- NAV (routerLink)-->
    <div class="msg-nav-panel"
      *ngIf="cfg.button"
      [class.active]="!showLoader">

      <button *ngFor="let btn of cfg.button" 
        mat-button             
        [routerLink]="btn.link"
        [color]="btn?.color">
        {{btn.label}}
      </button>      
      
    </div>        
  </div>
</section>