
<mat-toolbar class="public-page-header"
    color="primary">
    <span>
        <img class="app-logo"
            src="assets/img/dv4shapes64.svg" />
    </span>
    <span>{{title}}!</span>
    <span class="nav-spacer"></span>    
    
    <!--
    <mat-icon class="nav-icon"
        matTooltip = "Log in to ng4fire portal"
        routerLink="../login">
        fingerprint
    </mat-icon>
    -->
    <a mat-button
        routerLink="signin">
        <mat-icon>lock_open</mat-icon>
        <span>Sign in</span>
    </a>
    <a mat-button
        routerLink="signup">
        <mat-icon>create</mat-icon>
    <span>Register</span>
</a>
    
</mat-toolbar>