
@import '../material/variables';

:host{
  display:flex;
  flex:1;
  width:100%;
  min-height:100%;
  justify-content: center;  
}

.user-input-page{
  display:flex;
  min-height: 50vh;
  //min-height: 450px;
  align-items: stretch;

  .user-input-sidebar{
    display:flex;      
    //height:50vh;
    //min-height: 450px;
    min-width: 48px;
    width:4vw;    
    color: $app-blue-contrast;
    background-color: $app-blue;      
    align-items: flex-end;
    justify-content: center;
    padding: 0px 16px;      
  }

  .user-input-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
    width:29vw;
    min-width:325px;
    max-width:375px;

    .logo{
      height:120px;
      width:100%;
      display:none;            
    }     
    .logo.active{
      display:flex;
      justify-content: center;
      align-items: flex-start;
    }

    .loader{     
      height:120px;
      width:100%;
      display:none;      
    }

    .loader.active{
      display:flex;
      justify-content: center;
      align-items: center;
    }

    .user-input-msg{
      font-size: 0.9em;
      padding: 8px 0px 16px 0px;
      color: $app-mid-grey;
    }
    .user-input-msg.error{      
      color: $app-red;
      font-weight: 700;      
    }

    .user-input-title{
      display:flex;
      font-size:2em;
      align-items:flex-end;
      justify-content: space-between;
      color: $app-blue; 
      border-bottom: 2px solid $app-blue;        
      font-weight: 700;

      .material-icons.large{
        font-size:2em;            
      }

      div{
        padding:$page-padding;  
        padding-bottom: 8px;
        flex:1; 
      }
    }

    .user-input-body{
      padding: 16px 0px 8px 24px;
      font-size: 14px;

      .user-input-form{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .mat-form-field{
          width:100%;

          .mat-input-element{
            line-height: 1.42;
          }
        }

        .user-input-nav{
          display:flex;
          width:100%;
        }
      }
      .user-input-form.hidden{
        //visibility: hidden;
        display:none;
      }
    }

    .user-input-nav-panel{
      display:flex;
      //text-align:right;
      align-items: space-between;
      padding: 0px 0px 0px 24px;
            
      button{
        flex:1;
      }
    }
  }
}