
<section class="login-page">
  <div class="login-form-wrap">
    <form (ngSubmit)="onLogin">
      <mat-form-field>
        <input matInput 
            type="text"
            name="username"
            [(ngModel)]="username"
            placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input matInput 
          type="password"
          name="password"
          [(ngModel)]="password"
          placeholder="password">
      </mat-form-field>
    </form>
  </div>
</section>
