//get material mixins for colors
@import '~@angular/material/theming';




:host{
    display:flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.login-form-wrap{
    min-width: 275px;
    max-width: 375px;

    .login-nav{
        display: flex;
        justify-content: space-between;
        padding: 16px 0px;

        .fill-space{
            flex:1;
        }
    }

    .mat-form-field{
        width:100%;
    }

    .mat-expansion-panel{
        margin:24px 0px;
    }

    .mat-expansion-panel-header-title{
        font-weight: 600;
        font-size: 16px;
    }

    .login-message{
        font-weight: 400;
        font-size: 14px;
        color: mat-color($mat-grey,500);

    }

    .login-message.danger{
        color: mat-color($mat-red,500);
    }

    .login-logo{
        padding: 48px;
        margin: 48px 0px;
        background-image: url("../assets/img/logo.jpg");
        background-position: center;
        background-repeat: no-repeat;

    }
    /*
    .mat-input-element{
        line-height:1.25;
    }*/
    .mat-form-field{
        line-height: 1.33;
    }

}