
<section class="login-page">
  
    <div class="login-form-wrap">  
      
      <!-- LOGO -->
      <section class="login-logo">
          <!-- Your logo here, check scss file -->
      </section>
      
      <!-- STATUS PANEL -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{panelTitle}}
          </mat-panel-title>
          <mat-panel-description>
            {{loginStatus}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <section class="login-message"
          [class.danger]="loginStatus=='FAILED'">        
          <p>
            {{loginMsg}}
          </p>
        </section>      
      </mat-expansion-panel>
         
      <!-- LOGIN FORM -->
      <form [formGroup]="loginForm" (ngSubmit)="onResetPassword()">
        <mat-form-field>
          <input matInput 
              type="text"
              name="email"
              formControlName="email"
              autocomplete="false"
              placeholder="Your email">
        </mat-form-field>        
        <!-- LOGIN NAV -->  
        <div class="login-nav">
          <!--
          <div class="fill-space"></div>
          -->
          <button mat-raised-button
            style="flex:1"
            color="primary"
            [disabled]="!loginForm.valid">
              Reset password
          </button>        
        </div>    
      </form>      
      
    </div>
    <!-- LOGIN NAV -->
    <div class="login-nav">
      
        <button mat-button color="primary"
          routerLink="/login">
          Back to login
        </button>  
        
      </div>
  </section>
  
  <!-- loader -->
  <app-loader 
    [class.active]="showLoader">
  </app-loader>
  