
@import '../../material/variables';

.private-page-header{
    padding: $page-padding;
}

.nav-icon {
    padding: 0 16px;
    cursor: pointer;
}
  
.nav-spacer {
    flex: 1 1 auto;
}

.app-logo{
    height:36px;
    margin-right:24px;
}