<mat-toolbar class="private-page-header"
      color="primary">
   <span>{{title}}!</span>
   <span class="nav-spacer"></span>

   <mat-icon class="nav-icon" matTooltip="Log out" (click)="logOut()">
      undo
   </mat-icon>

   <mat-icon class="nav-icon" matTooltip="Delete your account" (click)="deleteAccount()">
      delete
   </mat-icon>

   <!-- MENU -->
   <mat-icon class="nav-icon" matTooltip="Menu items" [matMenuTriggerFor]="menu">
      more_vert
   </mat-icon>

   <mat-menu #menu="matMenu">
      <button *ngFor="let item of menuItems"
            mat-menu-item
            [routerLink]="item.path">
         <mat-icon>{{item.matIcon}}</mat-icon>
         <span>{{item.title}}</span>
      </button>
      <!-- 
      <button mat-menu-item disabled>
         <mat-icon>voicemail</mat-icon>
         <span>Check voicemail</span>
      </button> -->
   </mat-menu>
</mat-toolbar>