@import '../../../material/variables';

//this should be on each host
//that needs to fill in the page 
:host{
  display: flex;
  flex-direction: column;
  flex: 1;
  //padding: $page-padding;    
}

.admin-page-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: $page-padding;

  .admin-page-title{
    flex:6;
  }
  .admin-page-sort{
    flex:1;
    min-width:100px;
  } 
}

.admin-page{
  display:flex;
  flex: 1;   
  .sidebar{
    padding: $page-padding;
    color:$app-blue-contrast;
    background-color:$app-blue;
    min-width:200px;
    max-width:20vw;

    .underline{
        text-decoration: underline;
    }

    .nav-item{
        padding: 8px 0px;
        cursor: pointer;
        color: $app-blue-contrast;
        list-style-type: none;
    }
    .nav-item.active{
        list-style-type: disc;
        color: $app-white;
        //text-decoration: underline;
        font-weight: 700;
        cursor: default;
    }
  }
  .content{
    display:flex;
    flex-direction: column;
    flex:1;
    border: 1px solid $app-light-grey;
    //align-items: center;
    //justify-content: center;
    padding: $content-padding;
    
    .empty-content-message{
        display:flex;
        flex: 1;
        align-self: center;
        justify-content: center;
        font-weight: 700;
    }
  }
}

.float-bottom-nav{
  position:absolute;
  width: 100vw;
  bottom: 48px;
  display: flex;
  justify-content: space-between;
  padding: $page-padding;      
  box-sizing: border-box;
  font-size: 60px;   
}