
<mat-toolbar color="primary">
    <span>Welcome to {{title}}!</span>
    <span class="nav-spacer"></span>
    <mat-icon
      (click)="getMeFavs()" 
      class="nav-icon">favorite</mat-icon>
    <mat-icon 
      (click)="deleteSomething()"
      class="nav-icon">delete</mat-icon>
</mat-toolbar>

<section class="page-tabs">
  <mat-tab-group>
    <mat-tab label="Tab 1">
        <h1>
            Content 1
        </h1>
    </mat-tab>
    <mat-tab label="Tab 2">
        <h1>Content 2</h1>
    </mat-tab>
  </mat-tab-group>
</section>