

/**
* this should be on each host
that needs to fill in the page 
*/
@mixin host-flex-full-size($align-items:center, $justify-content:stretch){
  display: flex;  
  flex-direction: column;
  flex:1;
  align-items: $align-items;
  justify-content: $justify-content;  
}